@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
    overflow-x: hidden;
    line-height: 1.6em;
    letter-spacing: -0.020em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    font-weight: 320;
    background: #CCCCCC;
    color: #FFFFFF;
}

@keyframes frame-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#frame {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: frame-animation 3s forwards;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#contentLocator {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

#contentLocator:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    margin-right: 0;
    vertical-align: middle;
}

@keyframes contentArea-animation {
    0% {
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

#contentArea {
    display: inline-block;
    position: relative;
    width: 90%;
    top: -1em;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    animation: contentArea-animation 0.8s 2.0s forwards;
}

#contentArea h1 {
    margin-block-end: 0.4em;
    line-height: 1em;
    letter-spacing: -0.032em;
    font-size: 4.4em;
    font-weight: 920;
}

#contentArea p {
    margin: 0.75em 0 0.25em 0;
    font-size: 1.25em;
    opacity: 0.75;
}

@keyframes nav-icon-animation {
    0% {
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.icon {
    position: relative;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

nav {
    margin: 0;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline-block;
    position: relative;
    width: 5.3em;
    height: 5.3em;
    top: 0;
    backface-visibility: hidden;
    line-height: 5.885em;
    opacity: 0;
    animation-delay: 1.5s;
    animation: nav-icon-animation 0.5s ease-in-out forwards;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

nav a:before {
    display: block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    line-height: 2.5em;
    font-size: 1.7em;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    font-size: 1.1em;
}

nav a:hover:before {
    background-color: rgba(255, 255, 255, 0.2);
}

nav a:active {
    font-size: 0.95em;
}

nav a:active:before {
    background-color: rgba(255, 255, 255, 0.3);
}

nav a span {
    display: none;
}
